header {
    background-color: dimgrey;

}body main {
    background-color:rgb(140, 155, 162);
}

body footer {
    background-color: rgb(80, 79, 79);
}

.header-container{
    display:flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;   
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.card img:hover{
    transform: scale(1.15);
    /* transform-origin: bottom center; */
}
.card img{
    transition: all 0.3s;
}


/* .card-body{
    background-color: rgb(56, 59, 62);
}

.card-body .card-title{
    background-color: rgb(56, 59, 62);
    color: antiquewhite;
} */
/* 
.card-body .card-text{
    background-color: rgb(56, 59, 62);
    color: rgb(251, 192, 45);
} */

/* 
.card-body .list-group-item{
    background-color: rgb(56, 59, 62);
    color: antiquewhite;
}

card-body .list-group-item2{
    background-color: rgb(56, 59, 62);
    color: antiquewhite;
} */


/* .card-body card-title{
    background-color: rgb(255, 255, 255);
} */
/* 
.list-group-flush{
    background-color: gray;
} */


.nav-links a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 24px;
    align-items:center;
    color: white;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-decoration: none;
  }
  
.nav-links a:hover,
.nav-links a:active {
color: rgb(251, 192, 45);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}ß

.footer-container {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgb(54, 54, 54);
}


.footer-txt {
    gap: 24px;
    align-items:center;
    color: white;
    margin: 0px;
    font-size: 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-decoration: none;

}


.group-name {
    text-align:center;
    margin-top: 40px;
    margin: 40px 40px;
    font-size: 40px;
    color: rgb(251, 192, 45);
    font-weight: 900;
    font-family: tahoma;
}
